/* 
transform: rotate(45deg);
rotate : x 45deg;
rotate : y 45deg;
rotate : z 45deg;

*/

#container {
    display: flex;
    justify-content: space-evenly;
}

.sub-divs {
    background-color: red;
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    margin: 20px;
}

#div1, #div2, #div3  {
    transform: rotate(45deg);
}

#div4 {
    rotate : z 90deg;
}