#box1 {
    background-color:  pink;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    position: fixed;
    top: 0px;
}

#box2 {
    background-color: green;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    position: sticky;
    bottom: 0px;
    top: 0px;
}